@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Styles{
    <link href="~/Content/Quiz.css" rel="stylesheet" />
}
@model Checkinapp.ViewModels.QuizView
@if (Model != null)
{
    <div class="container-fluid quiz-manager">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <div id="loadbar">
                        <div id="circle">
                            <div class="loader">
                                <div class="loader">
                                    <div class="loader">
                                        <div class="loader">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="bg-dack">
                            <div class="animate one">
                                <span>C</span><span>h</span><span>u</span><span>ẩ</span><span>n</span> &nbsp;
                                <span>b</span><span>ị</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @section Scripts{
        <script src="~/Scripts/jquery.signalR-2.4.1.min.js"></script>
        <script src="~/signalr/hubs"></script>
        <script>
        $(function() {
            var chat = $.connection.quizHub;
            chat.client.addNewMessageToGroup = function(name, message) {
                if (name == "Start") {
                    var roominfo = JSON.parse(message);
                    if (roominfo.TestId == "@Model.TestId" && roominfo.RoomId == "@Model.RoomId") {
                        var url = "@Url.Action("_ListQuiz", new {TestId = Model.TestId, RoomId = Model.RoomId})";
                        url = url.replace("amp;", '')
                        $.get(url,
                            function(data) {
                                $(".quiz-manager .modal-content").html(data);
                                counter_init("#counters_1");
                                makeProgress();
                            });
                    }
                }
            };
            $.connection.hub.start(function() {
                chat.server.group("RoomA");
            });
            $.connection.hub.start().done(function() {
                //chat.server.group("RoomA", "Join");
            });
        });
        var ChooseAns = function(el) {
            $('#loadbar').show();
            $(".quiz .ans").each(function () {
                if (parseInt($(this).attr("data-choose")) == el) {
                    $(this).addClass("btn-dark");
                } else {
                    $(this).removeClass("btn-primary btn-danger btn-warning btn-success").addClass("btn-secondary");
                }
            });
            $('#answer').fadeIn();
                $.ajax({
                    url: '@Url.Action("Ansewr")',
                    cache: false,
                    type: "POST",
                    data: {
                        "RoomId": '@Model.RoomId',
                        "TestId": @Model.TestId,
                        "QuestionId": $("#QuestionId").val(),
                        "Choose": el
                },
                success: function (data) {
                    console.log(data);
                },
                error: function (response) {
                    bootoast.toast({
                        message: response,
                        type: 'danger'
                    });
                }
            });
        }

        </script>
        <script>
            let pageId = 1;
        </script>
        <script src="~/Scripts/Quiz.js"></script>
        <script src="~/Scripts/counter.js"></script>
    }
}


@*

    <div class="container-fluid" id="ranking" style="display: none">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header" style="display: block">
                    <h4 class="text-center">Tên bài kiểm tra</h4>
                </div>
                <div class="modal-header">
                    <div class="row col">
                        <div class="col-4 text-center">30 <br /> Vừa được</div>
                        <div class="col-4 text-center">Tên User </div>
                        <div class="col-4 text-center">11 <br /> Vị thứ</div>
                    </div>
                </div>
                <div class="modal-body">
                    <header>
                        <h4 class="text-center">Bảng điểm hiện tại</h4>
                    </header>
                    <table>
                        <thead>
                            <tr>
                                <th>Thứ tự</th>
                                <th>Tên</th>
                                <th>Điểm</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="rank">1</td>
                                <td class="team">Spain</td>
                                <td class="points">1460</td>
                            </tr>
                            <tr>
                                <td class="rank">2</td>
                                <td class="team">Germany</td>
                                <td class="points">1340</td>
                            </tr>
                            <tr>
                                <td class="rank">3</td>
                                <td class="team">Portugal</td>
                                <td class="points">1245</td>
                            </tr>
                            <tr>
                                <td class="rank">4</td>
                                <td class="team">Brazil</td>
                                <td class="points">1210</td>
                            </tr>
                            <tr>
                                <td class="rank">5</td>
                                <td class="team">Colombia</td>
                                <td class="points">1186</td>
                            </tr>
                            <tr>
                                <td class="rank">6</td>
                                <td class="team">Uruguay</td>
                                <td class="points">1181</td>
                            </tr>
                            <tr>
                                <td class="rank">7</td>
                                <td class="team">Argentina</td>
                                <td class="points">1178</td>
                            </tr>
                            <tr>
                                <td class="rank">8</td>
                                <td class="team">Switzerland</td>
                                <td class="points">1161</td>
                            </tr>
                            <tr>
                                <td class="rank">9</td>
                                <td class="team">Italy</td>
                                <td class="points">1115</td>
                            </tr>
                            <tr>
                                <td class="rank">10</td>
                                <td class="team">Greece</td>
                                <td class="points">1082</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer text-muted">
                    <span id="answer" style="display: none">Hệ thống đã ghi nhận câu trả lời của bạn, vui lòng đợi câu hỏi tiếp theo.</span>
                </div>
            </div>
        </div>
    </div>*@
