@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Styles{
    <link href="~/Content/Quiz.css" rel="stylesheet" />
}
@model Checkinapp.ViewModels.QuizManagerView

@if (Model != null)
{
    <div class="container-fluid quiz-manager">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header" style="display: block">
                    <h4 class="text-center">@Model.TestName</h4>
                </div>
                <div class="modal-header">
                    <div class="row col">
                        <div class="col-8 text-center"></div>
                        <div class="col-4 text-right">
                            <button class="btn btn-primary" id="countJoin" data-count="0" type="button">
                                0
                            </button>
                        </div>
                    </div>
                </div>
                <div class="modal-body">
                    <header>
                        <h4 class="text-center">Danh Sách tham gia</h4>
                    </header>
                    <table id="list-join-data">
                        <thead>
                            <tr>
                                <th>Thứ tự</th>
                                <th>Tên</th>
                            </tr>
                        </thead>
                        <tbody>
                            
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer text-muted">
                    <button type="button" class="btn btn-default" onclick="StartQuiz()">Bắt đầu</button>
                </div>
            </div>
        </div>
    </div>
}

@*<div class="container-fluid" id="ranking" style="display: none">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="display: block">
                <h4 class="text-center">Tên bài kiểm tra</h4>
            </div>
            <div class="modal-body">
                <header>
                    <h4 class="text-center">Bảng điểm hiện tại</h4>
                </header>
                <table>
                    <thead>
                        <tr>
                            <th>Thứ tự</th>
                            <th>Tên</th>
                            <th>Điểm</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="rank">1</td>
                            <td class="team">Spain</td>
                            <td class="points">1460</td>
                        </tr>
                        <tr>
                            <td class="rank">2</td>
                            <td class="team">Germany</td>
                            <td class="points">1340</td>
                        </tr>
                        <tr>
                            <td class="rank">3</td>
                            <td class="team">Portugal</td>
                            <td class="points">1245</td>
                        </tr>
                        <tr>
                            <td class="rank">4</td>
                            <td class="team">Brazil</td>
                            <td class="points">1210</td>
                        </tr>
                        <tr>
                            <td class="rank">5</td>
                            <td class="team">Colombia</td>
                            <td class="points">1186</td>
                        </tr>
                        <tr>
                            <td class="rank">6</td>
                            <td class="team">Uruguay</td>
                            <td class="points">1181</td>
                        </tr>
                        <tr>
                            <td class="rank">7</td>
                            <td class="team">Argentina</td>
                            <td class="points">1178</td>
                        </tr>
                        <tr>
                            <td class="rank">8</td>
                            <td class="team">Switzerland</td>
                            <td class="points">1161</td>
                        </tr>
                        <tr>
                            <td class="rank">9</td>
                            <td class="team">Italy</td>
                            <td class="points">1115</td>
                        </tr>
                        <tr>
                            <td class="rank">10</td>
                            <td class="team">Greece</td>
                            <td class="points">1082</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer text-muted">
                <button type="button" class="btn btn-default" onclick="NextQuiz()">Câu hỏi tiếp theo</button>
            </div>
        </div>
    </div>
</div>*@

@section Scripts{
    <script src="~/Scripts/jquery.signalR-2.4.1.min.js"></script>
    <script src="~/signalr/hubs"></script>
    <script>
        var chat = $.connection.quizHub;
        $(function() {
            chat.client.addNewMessageToGroup = function(name, message) {
                if (name == "JoinRoom") {
                    var roominfo = JSON.parse(message);
                    if (roominfo.RoomId == "@Model.RoomId") {
                        var added = 0;
                        $("#list-join-data > tbody > tr").each(function() {
                            if (parseInt($(this).attr("data-user")) == parseInt(roominfo.UserId)) {
                                added = 1;
                            }
                        });
                        if (added == 0) {
                            var curent = $("#countJoin").attr("data-count");
                            var next = parseInt(parseInt(curent) + 1);
                            $("#countJoin").attr("data-count", next);
                            $("#countJoin").html(next);
                            var html = "<tr data-user='" +
                                roominfo.UserId +
                                "'><td class='rank'>" +
                                next +
                                "</td><td class='team'>" +
                                roominfo.FullName +
                                "</td></tr>";
                            $("#list-join-data tbody").append(html);
                        }
                    }
                }
            };
            $.connection.hub.start(function() {
                chat.server.group("RoomA");
            });
            $.connection.hub.start().done(function() {});

        });

    </script>
    <script>
        let pageId = 2;
    </script>
    <script src="~/Scripts/counter.js"></script>
    <script>
        var StartQuiz = function() {
            var url = "@Url.Action("_ListQuiz", new {TestId = Model.TestId, RoomId = Model.RoomId})";
            url = url.replace("amp;", '')
            $.get(url,
                function(data) {
                    if (data.length > 1) {
                        $(".quiz-manager .modal-content").html(data);
                        var StartObj = {};
                        StartObj["TestId"] = @Model.TestId;
                        StartObj["RoomId"] = "@Model.RoomId";
                        var dataPush = JSON.stringify(StartObj);
                        chat.server.group("Start", dataPush);
                        counter_init("#counters_admin");
                    }
                });
        }
        var NextQuiz = function() {
            StartQuiz();
        }
    </script>

}
