
@model List<CheckInApp.ViewModels.QuestionViewModel>

@{
    ViewBag.Title = "Danh sách Hội trường";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Styles
{
    <link rel="stylesheet" href="../../plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="../../plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
    <link href="../../dist/bootoast.min.css" rel="stylesheet" type="text/css">

}
<table class="table">
    <thead>
        <tr>
            <th>
                Nội Dung
            </th>

            <th>
                Đáp án 1
            </th>
            <th>
                Đáp án 2
            </th>
            <th>
                Đáp án 3
            </th>
            <th>
                Đáp án 4
            </th>

            <th>
                Đáp án đúng
            </th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.QuestionContent
                </td>
                <td>
                    @item.Choose1
                </td>
                <td>
                    @item.Choose2
                </td>
                <td>
                    @item.Choose3
                </td>
                <td>
                    @item.Choose4
                </td>
                <td>
                    @item.TrueChoose
                </td>
                <td>
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                </td>
            </tr>
        }
    </tbody>
</table>
@section Scripts{
    <!-- DataTables -->
    <script src="../../plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="../../plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="../../plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="../../plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
    <!-- Bootstrap Switch -->
    <script src="../../plugins/bootstrap-switch/js/bootstrap-switch.min.js"></script>
    <!-- InputMask -->
    <script src="../../plugins/moment/moment.min.js"></script>
    <script src="../../plugins/inputmask/min/jquery.inputmask.bundle.min.js"></script>
    <script src="../../dist/bootoast.min.js"></script>

    <script>
        $(function () {
            //Money Euro
            $("#lbDatetime").inputmask('dd/MM/yyyy');

            $('.table').DataTable({
                "paging": true,
                "lengthChange": true,
                "searching": true,
                "ordering": true,
                "info": true,
                "autoWidth": false,
                "responsive": true,
            });
            $("input[data-bootstrap-switch]").each(function () {
                $(this).bootstrapSwitch('state', $(this).prop('checked'));
            });

        });
    </script>
}